/* Style the body */
body {
    font-family: Arial;
    margin: 0;
    background-color: rgb(212, 212, 207);
  }
  
  /* Header/Logo Title */
  .header {
    padding: 50px;
    text-align: center;
    background: #d6475a;
    color: #ffffff;
    font-size: 30px;
  }
  
  /* Page Content */
  .content {padding:20px;}


  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  .topnav .search-container button {
    padding: 6px 10px;
    margin-top: 0.5px;
    margin-right: 16px;
    background: hwb(0 5% 95% / 0.966);
    font-size: 17px;
    color: #ccc;
    border: none;
    cursor: pointer;
  }
  .topnav .search-container button:hover {
    background: #752f2f;
  }
  .search {
    position: absolute;
    top: 35px;
    left: 275px;
    height: 30px;
    width: 560px;
}
.btn{
    position: absolute;
    top: 43px;
    left: 775px;
    height: 42px;
}

.Container{
    height: 50px;
    width: 250px;
    overflow-y: auto;
    background-color: rgb(196, 207, 196);
    border-radius: 5px;
    margin: 0 auto;
}
/* Set the effects to the division
    named content */

 
/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(187, 178, 178);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content{
    height: 550px;
    width: 13%;
    margin-left: 7%;
    margin-top: 1%;
    background-color: #ffffff;
    color: black;

  }
  a:link { 
    text-decoration: none;
   margin-left: 1%;
   font-style:initial;                                     
}
.img1 {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
 